body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 96%);
}

header {
  background-color: #005aab;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  width: 100vw;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #005aab;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
}

footer {
  background-color: #005aab;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}
